@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(./assets/file.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/file3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(./assets/file4.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(./assets/file5.woff2);
}
@font-face {
  font-family: anzoooo;
  src: url(./assets/madefor-text.var.original.woff2);
}
#page1-in{
  position: relative;
  perspective: 1000px;
}
#tiltDiv{
  /* background-color: red; */
  width: fit-content;
  /* transform: rotateX(20deg); */
}